### macOS
.DS_Store
._*
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db

### JetBrains / IntelliJ
.idea/
*.iws
*.iml
out/

### Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

### Java
*.class
*.jar
*.war
*.ear

### Logs
*.log